---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head(100)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL
Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,BER
Bohemia,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,BOH
Botswana,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,BOT
Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,BRA
British West Indies,1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,BWI
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,BDI
Cameroon,13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,CMR
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN
Chile,22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,CHI
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN
Colombia,18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,COL
Costa Rica,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,CRC
Ivory Coast,12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,CIV
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB
Cyprus,9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,CYP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
South Korea,16,81,82,80,243,17,26,17,10,53,33,107,99,90,296,KOR
Kuwait,12,0,0,2,2,0,0,0,0,0,12,0,0,2,2,KUW
Kyrgyzstan,5,0,1,2,3,6,0,0,0,0,11,0,1,2,3,KGZ
Latvia,10,3,11,5,19,10,0,4,3,7,20,3,15,8,26,LAT
Lebanon,16,0,2,2,4,16,0,0,0,0,32,0,2,2,4,LIB
Liechtenstein,16,0,0,0,0,18,2,2,5,9,34,2,2,5,9,LIE
Lithuania,8,6,5,10,21,8,0,0,0,0,16,6,5,10,21,LTU
Luxembourg,22,1,1,0,2,8,0,2,0,2,30,1,3,0,4,LUX
Macedonia,5,0,0,1,1,5,0,0,0,0,10,0,0,1,1,MKD
Malaysia,12,0,3,3,6,0,0,0,0,0,12,0,3,3,6,MAS
Mauritius,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,MRI
Mexico,22,13,21,28,62,8,0,0,0,0,30,13,21,28,62,MEX
Moldova,5,0,2,5,7,6,0,0,0,0,11,0,2,5,7,MDA
Mongolia,12,2,9,13,24,13,0,0,0,0,25,2,9,13,24,MGL
Montenegro,2,0,1,0,1,2,0,0,0,0,4,0,1,0,1,MNE
Morocco,13,6,5,11,22,6,0,0,0,0,19,6,5,11,22,MAR
Mozambique,9,1,0,1,2,0,0,0,0,0,9,1,0,1,2,MOZ
Namibia,6,0,4,0,4,0,0,0,0,0,6,0,4,0,4,NAM
Netherlands,25,77,85,104,266,20,37,38,35,110,45,114,123,139,376,NED
Netherlands Antilles,13,0,1,0,1,2,0,0,0,0,15,0,1,0,1,AHO
New Zealand,22,42,18,39,99,15,0,1,0,1,37,42,19,39,100,NZL
Niger,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,NIG
Nigeria,15,3,8,12,23,0,0,0,0,0,15,3,8,12,23,NGR
Norway,24,56,49,43,148,22,118,111,100,329,46,174,160,143,477,NOR
Pakistan,16,3,3,4,10,2,0,0,0,0,18,3,3,4,10,PAK
Panama,16,1,0,2,3,0,0,0,0,0,16,1,0,2,3,PAN
Paraguay,11,0,1,0,1,1,0,0,0,0,12,0,1,0,1,PAR
Peru,17,1,3,0,4,2,0,0,0,0,19,1,3,0,4,PER
Philippines,20,0,2,7,9,4,0,0,0,0,24,0,2,7,9,PHI
Poland,20,64,82,125,271,22,6,7,7,20,42,70,89,132,291,POL

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [5]:
def answer_one():
    return df['Gold'].idxmax()
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [4]:
def answer_two():
    a = df['Gold.1'] - df['Gold']
    b = abs(a)
    return b.idxmax()
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [5]:
def answer_three():
    Special = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
    p = (Special['Gold'] - Special['Gold.1'])/ Special['Gold.2']
    q = abs(p)
    return q.idxmax()
answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [6]:
def answer_four():
    i = df['Gold.2']
    i*=3
    j = df['Silver.2']
    j*=2
    k= df['Bronze.2'] 
    l = i + j + k
    j = pd.DataFrame(l, columns=['Points'])
    return j
answer_four()

                                  Points
Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
...                                  ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38

[146 rows x 1 columns]

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [7]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [8]:
def answer_five():
    return census_df['STNAME'].value_counts().idxmax()
answer_five()

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [9]:
def answer_six():
    copy_df = census_df.copy()
    copy_df = copy_df.groupby(['STNAME'])
    pop_state = pd.DataFrame(columns = ['population'])
    for item, val in copy_df:
        pop_state.loc[item] = [val.sort_values(by='CENSUS2010POP', ascending=False)[1:4]['CENSUS2010POP'].sum()]
        highest_3 = pop_state.nlargest(3, 'population')
    return list(highest_3.index) 
answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [10]:
def answer_seven():
    census1_df = census_df[['STNAME','CTYNAME','POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']]
    census1_df = census1_df[census1_df['STNAME']!=census1_df['CTYNAME']] 
    index = (census1_df.max(axis=1)-census1_df.min(axis=1)).idxmax()
    return census_df.loc[index]['CTYNAME']
answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [11]:
def answer_eight():
    return pd.DataFrame(census_df[(census_df['REGION']<3) & (census_df['CTYNAME'].str.startswith('Washington')) & (census_df['POPESTIMATE2015']>census_df['POPESTIMATE2014'])][['STNAME','CTYNAME']])
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County